<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.kevin.crypto.api" android:installLocation="preferExternal">
	<uses-sdk android:targetSdkVersion="26" android:minSdkVersion="16" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="Cryptopia Public API" android:icon="@mipmap/ic_cryptopia"></application>
</manifest>